# Ruby bundle config
.bundle/

# Build outputs
polkadot-spec.html
polkadot-spec.pdf
polkadot-spec.tex

# Export outputs
block.ksy
metadata.ksy

# Test outputs
test/block.rb
test/metadata.rb
test/scale.rb

# asciidoctor-mathmatical
cache/

# direnv
.envrc
