[submodule "implementations/rust/parity-codec"]
	path = implementations/rust/parity-codec
	url = https://github.com/paritytech/parity-scale-codec
[submodule "implementations/go/gossamer"]
	path = implementations/go/gossamer
	url = https://github.com/ChainSafeSystems/gossamer
	branch = development
[submodule "parity-trie"]
	path = implementations/rust/trie
	url = https://github.com/cheme/trie
	branch = n_ext_trie
[submodule "implementations/cpp/kagome"]
	path = implementations/cpp/kagome
	url = https://github.com/soramitsu/kagome
