/* Fetch Work Sans - Normal + Italic - Regular + Bold */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Fetch Asciidoctor Default Style Sheet */
@import url('https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css');

/* Base constants of theme */
:root {
	--font-family: 'Work Sans', sans-serif;

	--black: #1E1E1E;
	--white: #FFFFFF;

	--dark-blue: #172026;
	--grey: #efefef;

	--pink: #E6007A;
	--purple: #670d35;
}


/* Apply some layout corrections */
html {
	height: 100%;
}

body {
	min-height: 100%;
  	display: flex;
  	flex-direction: column;
}

.partintro {
	margin-bottom: 1.25rem;
}

/* Set our custom font */
body {
	font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6,
#toctitle,
.sidebarblock > .content > .title {
	font-family: var(--font-family);
}

#toc ul{
	font-family: var(--font-family);
}

/* Set base colors */
body {
	color: var(--black);
	background-color: var(--white);
}

/* Style all titles */
h1, h2, h3, h4, h5, h6,
#toctitle,
.subheader,
.title {
	color: var(--pink);
}

/* - could be replaced by !important in previous block */
.sidebarblock > .content > .title,
.admonitionblock td.content > .title,
.audioblock > .title,
.exampleblock > .title,
.imageblock > .title,
.listingblock > .title,
.literalblock > .title,
.stemblock > .title,
.openblock > .title,
.paragraph > .title,
.quoteblock > .title,
table.tableblock > .title,
.verseblock > .title,
.videoblock > .title,
.dlist > .title,
.olist > .title,
.ulist > .title,
.qlist > .title,
.hdlist > .title {
	color: inherit;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    color: inherit;
}

/* Style all links */
a {
	color: var(--pink);
}

a:hover {
	color: var(--purple);
}

/* - same here, next two blocks or important above */
#content h1 > a.link,
h2 > a.link,
h3 > a.link, #toctitle > a.link,
h4 > a.link,
h5 > a.link,
h6 > a.link,
.sidebarblock > .content > .title > a.link {
	color: inherit;
}

#content h1 > a.link:hover,
h2 > a.link:hover,
h3 > a.link:hover,
h4 > a.link:hover,
h5 > a.link:hover,
h6 > a.link:hover,
#toctitle > a.link:hover,
.sidebarblock > .content > .title > a.link:hover {
	color: var(--purple);
}

/* Style header like toc on small screens */
@media screen and (max-width:768px) {
	#header {
		background-color: var(--dark-blue);
		max-width: none;
	}

	#header > h1:first-child {
  		color: var(--pink);
	}

	#header .details {
  		color: var(--white);
		border: none;
	}
}

/* Style table of content */
#toc.toc2 {
	background-color: var(--dark-blue);
	border: none;
}

#toc ul.sectlevel0 > li > a {
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
}

#toc a {
	color: var(--white);
}

#toc a code {
	color: inherit;
	background-color: inherit;
}

#toc a .toc-current,
#toc .tocify-focus a {
	color: var(--pink);
}

/* Tame SVG images */
.imageblock .content svg {
  max-width: 100%;
}

/* Style boxes */
.exampleblock > .content, 
.sidebarblock {
	background: var(--grey);
}

/* Style footer */
#footer {
	color: var(--white);
	background-color: var(--dark-blue);
}

/* CSS Ribbon */
.ribbon {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: 99999;
  top: 0px;
  right: 0px;
}

.ribbon a {
  display: inline-block;
  position: inherit;
  transform: rotate(45deg);
  width: 200px;
  top: 45px; 
  right: -40px;
  padding: 6px 0px;
  overflow: hidden;

  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;

  color: var(--white);
  background-color: var(--pink);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  border: 2px dotted var(--white);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px 0px;
}

/* MathJax v3 */
.stemblock mjx-container {
  text-align: center;
  display: block;
  width: 100%;
  margin: 1em 0em;
}

/* Pseudocode.js */
.ps-root {
  font-size: 1.2em !important;
}

/* Fix inline svg with fixed width or height. */
.imageblock .content svg {
  widht: auto;
  height: auto;
}
